/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/10/2022, 18:07:34
    Author     : vinic
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size: 1rem;
}

main .gerenciar {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-size: 1.5rem;
}

form{
    
}


#inp-entrar{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 40%;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.botao{
    display: flex;
    justify-content: flex-end;
    border-radius: 0.6em;
    color: rgb(0, 95, 189);
    padding: 0.7em 0.7em;
    background-color: white;
    font-size: 0.7em;
}

.addprojeto{
    display: flex;
    flex-direction: column;
    align-self: center;
   
}

.file{
    display: flex;
    align-content: space-between;
}

footer {
    display: flex;
    background-image: linear-gradient(dodgerBlue, deepSkyBlue, lightSkyBlue);
    height: 5vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.btn-voltar{
      border-radius: 0.6em;
  color: rgb(0, 95, 189);
  padding: 0.5em 1em;
  background-color: white;
  font-size: 0.7em;
}

