/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/10/2022, 18:07:34
    Author     : vinic
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size: 1rem;
    
}
.index{
    
    align-items: center;
}

.gerenciar {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    align-self: center;
    justify-content: center;
    
    width: 100vw;
}
.gerenciar-box{
    margin: 0.5%;
}

#inp-entrar{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 40%;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin: 2%;
    color: white;
}

.botao{
    display: flex;
    justify-content: flex-end;
    border-radius: 0.6em;
    color: rgb(0, 95, 189);
    
    background-color: white;
    font-size: 0.7em;
}

.addprojeto{
    display: flex;
    flex-direction: column;
    align-self: center;
   
}



footer {
    display: flex;
    background-image: linear-gradient(dodgerBlue, deepSkyBlue, lightSkyBlue);
    height: 5vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.btn-voltar{
  border-radius: 0.6em;
  color: rgb(0, 95, 189);
  padding: 0.5em 1em;
  background-color: white;
  font-size: 0.7em;
}
#nome-estudantes, #nome-orientadores{
    margin: 2% 0;
}
#titulo-projeto{
    margin: 2% 0;
}

legend{
    margin-top: 5%;
}
#trab-andamento-interno{
    margin: 6%;
    display: flex;
    align-content: space-between;
}
#sub-file{
    display: block;
    
    width: 100%;
    margin: 5% 0 0 0;
    border-radius: 5px;
    height: 30%;
}
