/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/09/2022, 13:54:58
    Author     : vinic
*/

/*PARTE DO HEADER*/


*{
padding:0;
margin:0;
box-sizing: border-box;
}
body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    flex-direction: column;
  }
  
  main {
    align-self: center;
    font-family: Verdana;
    font-size: 1.5rem;
    text-align: center;
  }
  
  header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(dodgerBlue,deepSkyBlue, lightSkyBlue);
    width: 100vw;
    height: 10vh;
    padding:0 1rem
}

 footer{
    display: flex;
    background-image: linear-gradient(dodgerBlue,deepSkyBlue, lightSkyBlue);
    height: 5vh;
    width: 100vw;
    justify-content: space-between;
 }

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   align-items: center;
}

.menu{
display: flex;
flex-direction: row;
justify-content: center;
}


button{
border-radius: 12px;
color:black;
padding: 10px 24px; 
background-color:white ;
}

  